@inherits LayoutComponentBase
@inject Services.UserSession Session
@inject NavigationManager Nav

<div class="home-container">
    @if (Session.IsLoggedIn)
    {
        <TopBar />
    }

    <main class="home-main">
        @Body
    </main>
</div>
