@page "/"
@inject Services.UserSession Session
@inject NavigationManager Nav

@if (!Session.IsLoggedIn)
{
    <p>You are not logged in. Redirecting...</p>
}
else
{
    <h2>Üdv, @Session.CurrentUser!.Username!</h2>
    <p>Jogosultság: @Session.CurrentUser!.RoleName</p>
}

@code {
    protected override void OnInitialized()
    {
        if (!Session.IsLoggedIn)
            Nav.NavigateTo("/login", true);
    }
}
