.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important;
}

.modal-window {
    width: 380px;
    background: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    animation: fadeUp 0.3s ease;
    z-index: 10000 !important;
}


.modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

    .modal-body input,
    .modal-body select {
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #d6d6d6;
    }

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.save-btn {
    background: #3b6bff;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.close-btn {
    background: #ddd;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

