@using Szakdolgozat.Models

<div class="modal-overlay">
    <div class="modal-window">
        <h3>Raktár törlése</h3>

        <p>Biztosan törölni szeretnéd ezt a raktárt?</p>
        <p><b>@Warehouse.Name</b> (ID=@Warehouse.Id, Kód=@Warehouse.Code)</p>

        <div class="button-row">
            <button class="delete-btn" type="button" @onclick="Delete">Törlés</button>
            <button class="close-btn" type="button" @onclick="Close">Mégse</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public Warehouse Warehouse { get; set; } = new();
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<int> OnDelete { get; set; }

    private Task Close() => OnClose.InvokeAsync();
    private Task Delete() => OnDelete.InvokeAsync(Warehouse.Id);
}
